<div class="home home-2" id="all">
    <!-- Header -->
   <app-header></app-header>


    <!-- Main Content -->
    <div id="content" class="site-content">
        
        <router-outlet></router-outlet>
    </div>

    
    
    <!-- Footer -->
    <app-footer></app-footer>
    
    <!-- Go Up button -->
    <div class="go-up">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    
    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>