<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block text">
                        <div class="block-content">
                            <a href="home-2.html" class="logo-footer">
                                <img src="assets/Client/img/logo-2.png" alt="Logo">
                            </a>
                            
                            <p>
                                Hãy để tôi đi đến chi tiết nhỏ nhất, người không thực hành bất kỳ loại công việc nào ngoại trừ với tư cách là một loại người nào đó.
                            </p>
                        </div>
                    </div>
                    
                    <div class="block social">
                        <div class="block-content">
                            <ul>
                                <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block menu">
                        <h2 class="block-title">THÔNG TIN</h2>
                        
                        <div class="block-content">
                            <ul>
                                <li><a href="#">Khuyến mãi</a></li>
                                <li><a href="#">Sản phẩm mới</a></li>
                                <li><a href="#">Bán chạy nhất</a></li>
                                <li><a href="#">Các điều khoản và điều kiện</a></li>
                                <li><a href="#">Cửa hàng của chúng tôi</a></li>
                                <li><a href="#">Liên hệ chúng tôi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block menu">
                        <h2 class="block-title">TÀI KHOẢN CỦA BẠN</h2>
                        
                        <div class="block-content">
                            <ul>
                                <li><a href="#">Đơn đặt hàng của tôi</a></li>
                                <li><a href="#">Hàng hóa của tôi trả về</a></li>
                                <li><a href="#">Phiếu tín dụng của tôi</a></li>
                                <li><a href="#">Địa chỉ của tôi</a></li>
                                <li><a href="#">Thông tin cá nhân của tôi</a></li>
                                <li><a href="#">Những voucher của tôi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block text">
                        <h2 class="block-title">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                        
                        <div class="block-content">
                            <div class="contact">
                                <div class="item d-flex">
                                    <div>
                                        <i class="zmdi zmdi-home"></i>
                                    </div>
                                    <div>
                                        <span>Hải Dương, Việt Nam</span>
                                    </div>
                                </div>
                                <div class="item d-flex">
                                    <div>
                                        <i class="zmdi zmdi-phone-in-talk"></i>
                                    </div>
                                    <div>
                                        <span>038-575-3434<br>096-391-4608</span>
                                    </div>
                                </div>
                                <div class="item d-flex">
                                    <div>
                                        <i class="zmdi zmdi-email"></i>
                                    </div>
                                    <div>
                                        <span><a href="mailto:support@domain.com">Support@MaiThiNguyet.com</a><br><a href="mailto:contact@domain.com">Contact@MaiThiNguyet.com</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>				
    </div>
    
    <!-- Copyright -->
    <div class="footer-copyright text-center">
        <div class="container">
            <div class="payment">
                <img src="assets/Client/img/payment.png" alt="Payment">
            </div>
            
                    <div class="copyright"><a target="_blank" href="https://www.templateshub.net">THỰC HIỆN BỞI MAI THỊ NGUYỆT</a></div>
                </div>
    </div>
</footer>